.header {
    height: auto;
    background-color: var(--mantine-color-body);
    margin-bottom: 14px;
}

.logo{
    height: 44px;
    display: block;
}

.inner {
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid light-dark(rgba(134, 142, 150, 0.25), rgba(206, 212, 218, 0.2));
}

.link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @media (max-width: 576px) {
        border-radius: 0;
        padding: var(--mantine-spacing-md);
    }

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
    }
}