.wrapper {
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (max-width: 768px) {
        min-height: auto;
        padding-top: 40px;
        padding-bottom: 24px;
    }
}

.inner {
    width: 100%;
}

.content {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 992px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.left {
    max-width: 680px;
}

.title {
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    margin-bottom: 12px;


    @media (max-width: 576px) {
        font-size: 28px;
    }
}

.highlight {
    color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
}

.description {
    text-align: left;
    max-width: 560px;
    margin-bottom: 18px;

    @media (max-width: 576px) {
        font-size: var(--mantine-font-size-md);
    }
}

.reserveBtn {
    min-width: 170px;
}

