.pageCard {
    height: 100%;
}

.miniCarousel {
    margin-top: 8px;
}

.miniCarouselSlide {
    overflow: hidden;
}

.miniCarouselImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
